<% content_for :title do %>
  Kitten | My Cart
<% end %>
<section>
<hr/>
<%= render(@cart.line_items) %>
<div class="columns">
  <div class="column">
    <%= button_to 'Empty cart de kitten', @cart, method: :delete, data: { confirm: "Sure ?" }, class: "button is-danger" %>
  </div>
  <div class="column total">
    <h4>
      <span>Total :</span> <%= number_to_currency(@cart.total_price)%>
    </h4>
  </div>
</section>

<%= link_to 'Keep shopping du kitten', items_path %> |
<%= link_to 'Order du kitten', line_item_path(@cart.line_item_ids) %>
