<% content_for :title do %>
  Home | Meowy, Inc.
<% end %>

<!-- Slider
============================================= -->
<section id="slider" class="slider-element swiper_wrapper clearfix" data-autoplay="4500" data-speed="800" data-loop="true" data-grab="true" data-effect="slide" data-arrow="false">

  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
      <div class="swiper-slide dark" style="background: url('/assets/slider/1.png');">
        <div class="container clearfix">
          <div class="slider-caption slider-caption-center">
            <div class="h5 mb-2 font-secondary">Get a little kitten for Christmas</div>
            <h2 class="bottommargin-sm text-white">Winter 2018</h2>
            <a href="#" class="button bg-white text-dark button-light">Shop Cats</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide dark" style="background: url('/assets/slider/2.png') no-repeat center 40%; background-size: cover">
        <div class="container clearfix">
          <div class="slider-caption slider-caption-center">
            <h2 class="bottommargin-sm text-white">Winter Sale</h2>
            <a href="#" class="button bg-white text-dark button-light">Shop Cats</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

</section><!-- #Slider End -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Featured Carousel
      ============================================= -->
      <div class="fancy-title title-dotted-border mt-4 mb-1 title-center">
        <h4>Weekly Featured Cats</h4>
      </div>

      <div id="oc-products" class="owl-carousel products-carousel carousel-widget" data-margin="20" data-loop="true" data-autoplay="5000" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4" data-items-xl="5">

        <!-- Shop Item 1
        ============================================= -->
        <% @items.each do |item| %>
          <div class="oc-item">
            <div class="product iproduct clearfix">
              <div class="product-image">
                <% if item.image.attached? %>
                  <a href="#"><%= image_tag item.image, alt: item.title %></a>
                <% end %>
                <div class="product-overlay">
                  <%= link_to line_items_path(item_id: @item), :class => "add-to-cart" do %>
                    <i class="icon-shopping-cart"></i><span> Add to Cart</span>
                  <% end %>
                  <%= link_to item, :class => "item-quick-view" do %>
                    <i class="icon-line-search"></i><span>Quick View</span>
                  <% end %>
                </div>
              </div>
              <div class="product-desc">
                <div class="product-title mb-1">
                  <h3>
                    <%= link_to item do %>
                      <%= item.title %>
                    <% end %>
                  </h3>
                </div>
                <div class="product-price font-primary"><ins>$<%= item.price %>0</ins></div>
                <div class="product-rating">
                  <% number = rand(1..6) %>

                  <% if number == 1 %>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star-half-full"></i>
                    <i class="icon-star-empty"></i>
                  <% elsif number == 2 %>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                  <% elsif number == 3 %>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star-half-full"></i>
                  <% elsif number == 4 %>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star-half-full"></i>
                    <i class="icon-star-empty"></i>
                  <% elsif number == 5 %>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star-half-full"></i>
                    <i class="icon-star-empty"></i>
                  <% else %>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="clear"></div>

    <!-- New Arrivals: Fresh Cats from our selective collection
    ============================================= -->
    <div class="container clearfix">

      <div class="fancy-title title-dotted-border topmargin-sm mb-4 title-center">
        <h4>New Arrivals: Fresh Cats from our selective collection</h4>
      </div>

      <div class="row grid-6"><div class="row grid-6">

        <!-- Shop Items
        ============================================= -->
        <% @items.each do |item| %>
          <div class="col-lg-2 col-md-3 col-6 px-2">
            <div class="product iproduct clearfix">
              <div class="product-image">
                <% if item.image.attached? %>
                  <a href="#"><%= image_tag item.image, alt: item.title %></a>
                <%end%>
                <div class="product-overlay">
                  <%= link_to line_items_path(item_id: @item), :class => "add-to-cart" do %>
                    <i class="icon-shopping-cart"></i><span> Add to Cart</span>
                  <% end %>
                  <%= link_to item, :class => "item-quick-view" do %>
                    <i class="icon-line-search"></i><span>Quick View</span>
                  <% end %>
                </div>
              </div>
              <div class="product-desc">
                <div class="product-title mb-1">
                  <h3>
                    <%= link_to item do %>
                      <%= item.title %>
                    <% end %>
                  </h3>
                </div>
                <div class="product-price font-primary"><ins>$<%= item.price %>0</ins></div>
                <div class="product-rating">
                <% number = rand(1..6) %>

                <% if number == 1 %>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star-half-full"></i>
                  <i class="icon-star-empty"></i>
                <% elsif number == 2 %>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                <% elsif number == 3 %>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star-half-full"></i>
                <% elsif number == 4 %>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star-half-full"></i>
                  <i class="icon-star-empty"></i>
                <% elsif number == 5 %>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star-half-full"></i>
                  <i class="icon-star-empty"></i>
                <% else %>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>

    <!-- Sign Up
    ============================================= -->
    <div class="section my-4 py-5 clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row common-height align-items-center clearfix">
              <div class="col-md-7" style="background: url('/assets/sections/meowysignup.png') center center no-repeat; background-size: cover; height:100%">
              </div>
              <div class="col-md-5 bg-white">
                <div class="card noborder py-2">
                  <div class="card-body">
                    <h3 class="card-title mb-4 ls0">Sign up to get the most out of shopping.</h3>
                    <ul class="iconlist ml-3">
                      <li><i class="icon-circle-blank text-black-50"></i> Receive Exclusive Sale Alerts</li>
                      <li><i class="icon-circle-blank text-black-50"></i> 30 Days Return Policy</li>
                    </ul>
                    <a href="users/sign_up" class="button button-rounded ls0 t600 ml-0 mb-2 nott px-4" style="background-color: #ffc19d">Sign Up</a><br>
                    <small class="font-italic text-black-50">Don't worry, it's totally free.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="container clearfix">

      <!-- Features
      ============================================= -->
      <div class="row topmargin clearfix justify-content-md-center">
        <div class="col-lg-7">
          <div class="row">
            <div class="col-sm-6">
              <div class="feature-box fbox-small fbox-plain">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line2-present text-dark text-dark"></i></a>
                </div>
                <h3 class="t400">100% Original</h3>
                <p>Meowy.Inc offers you Genuine Cats from our special selection.</p>
              </div>
            </div>

            <div class="col-sm-6 mt-4 mt-sm-0">
              <div class="feature-box fbox-small fbox-plain">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line2-globe text-dark"></i></a>
                </div>
                <h3 class="t400">Free & Fast Shipping</h3>
                <p>You will receive your Cat within 72 Hours.</p>
              </div>
            </div>

            <div class="col-sm-6 mt-4">
              <div class="feature-box fbox-small fbox-plain">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line2-reload text-dark"></i></a>
                </div>
                <h3 class="t400">30-Days Returns</h3>
                <p>You dont like your cat ? Do not worry, you can send it back within 30 days !</p>
              </div>
            </div>

            <div class="col-sm-6 mt-4">
              <div class="feature-box fbox-small fbox-plain">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line2-wallet text-dark"></i></a>
                </div>
                <h3 class="t400">Payment Options</h3>
                <p>Pay easily and efficiently with Stripe.</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="clear"></div>

      <!-- Brands
      ============================================= -->
      <div class="row mt-5 clearfix">
        <div class="col-12">
          <div class="fancy-title title-dotted-border title-center mb-4">
            <h4 class="partners">Our partners</h4>
          </div>

          <ul class="clients-grid grid-8 nobottommargin clearfix">
            <li><a href="https://www.whiskas.fr"><%= image_tag 'clients/logo/whiskas.png', alt: 'Clients' %></a></li>
            <li><a href="https://www.purina.fr/chat/felix/"><%= image_tag 'clients/logo/felix.png', alt: 'Clients' %></a></li>
            <li><a href="https://www.thehackingproject.org"><%= image_tag 'clients/logo/thp.png', alt: 'Clients' %></a></li>
            <li><a href="https://www.purina.fr"><%= image_tag 'clients/logo/purina.png', alt: 'Clients' %></a></li>
            <li><a href="https://www.wcf-online.de"><%= image_tag 'clients/logo/blackcat.png', alt: 'Clients' %></a></li>
            <li><a href="https://www.hillspet.fr"><%= image_tag 'clients/logo/hills.png', alt: 'Clients' %></a></li>
            <li><a href="https://www.shelba.fr"><%= image_tag 'clients/logo/shelba.png', alt: 'Clients' %></a></li>
            <li><a href="https://www.purina.fr/friskies/"><%= image_tag 'clients/logo/friskies.png', alt: 'Clients' %></a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="clear"></div>

    <!-- Last Section
    ============================================= -->
    <div class="section footer-stick bg-white nomargin py-3 border-bottom">
      <div class="container clearfix">

        <div class="row clearfix">
          <div class="col-lg-4 col-md-6">
            <div class="shop-footer-features mb-3 mb-lg-3"><i class="icon-line2-globe-alt"></i><h5 class="inline-block mb-0 ml-2 t600"><a href="#">Free Shipping</a><span class="t400 text-muted"> &amp; Easy Returns</span></h5></div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="shop-footer-features mb-3 mb-lg-3"><i class="icon-line2-notebook"></i><h5 class="inline-block mb-0 ml-2"><a href="#">Genuine Cats</a><span class="t400 text-muted"> Guaranteed</span></h5></div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="shop-footer-features mb-3 mb-lg-3"><i class="icon-line2-lock"></i><h5 class="inline-block mb-0 ml-2"><a href="#">256-Bit</a> <span class="t400 text-muted">Secured Checkouts</span></h5></div>
          </div>
        </div>

      </div>
    </div>

  </div>

</section><!-- #content end -->

<!--

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <% if item.image.attached? %>
        <td><%= image_tag item.image %></td>
        <%end%>
        <td><%= link_to 'Show', item %></td>
        <% if current_user && current_user.admin %>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && current_user.admin %>
  <%= link_to 'New Item', new_item_path %>
<% end %>

-->
